# Core dependencies
streamlit==1.31.1
python-dateutil==2.8.2

# Security dependencies
python-dotenv==1.0.0
streamlit-authenticator==0.2.3
cryptography==42.0.5
pyOpenSSL==24.0.0

# Logging and monitoring
watchdog==3.0.0

# UI/UX improvements
streamlit-option-menu==0.3.12
